<html ng-app='sup'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Brew Pot Etching Calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style media="print">
    @page {
      margin: 0;
    }

    body > * { display: none;}
    h1, h2, h3 { display: none; }

    .print {
      display: block; !important;
    }

  </style>
</head>
<body ng-controller='calcCtrl' class='container'>

  <div class='row'>
    <div class="col-xs-12">
      <h1>Pot Specifications</h1>

      <div>
        <label for='diameter'>Diameter of pot:</label>
        <input type='number' name='diameter' id='diameter' ng-model='diameter'>
      </div>

      <div>
        <label for='maxl'>Max litres to measure:</label>
        <input type='number' name='maxl' id='maxl' ng-model='maxl'>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-xs-6">
      Liters per cm: {{ litres | number: 2 }}
    </div>

    <div class="col-xs-6">
      Gallons per cm: {{ gallons | number: 2}}
    </div>
  </div>

  <br>

  <hr>

  <div class='row print'>
    <div class="col-xs-12">
      <h2>Template</h2>
      <div class="text-center">
        <svg ng-attr-viewBox="0 0 6cm {{ totalHeight() }}cm" height="{{totalHeight()}}cm">
          <g ng-attr-transform="translate(0, {{totalHeight() * 35.43307}})">
          <g transform="scale(1,-1)">

          <line x1="3cm" y1="0cm" x2="3cm" ng-attr-y2="{{ getHeight(maxl) * litres }}cm"
            style="stroke:rgb(0,0,0);stroke-width:.2cm">
          </line>

          <line ng-repeat="i in range(0, maxl)"
              x1="3cm" x2="1.5cm" ng-attr-y1="{{ getHeight(i) * litres }}cm" ng-attr-y2="{{ getHeight(i) * litres}}cm"
              style="stroke:rgb(0,0,0);stroke-width:.1cm">
          </line>
          </text>

          <line ng-repeat="i in range(0, (maxl / 3.8))"
              x1="3cm" x2="4.5cm" ng-attr-y1="{{ getHeight(i) * gallons }}cm" ng-attr-y2="{{ getHeight(i) * gallons}}cm"
              style="stroke:rgb(0,0,0);stroke-width:.1cm">
          </line>

          <line x1="5cm" y1=".5cm" x2="6cm" y2=".5cm"
            style="stroke:rgb(0,0,0);stroke-width:.1cm">
          </line>
          <text x="5cm" y="0cm" transform="translate(0, 15) scale(1, -1) translate(0, -15)">
            1 cm
          </text>
        </svg>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var app = angular.module('sup', []);
    app.controller('calcCtrl', ['$scope', function($scope) {
      var scaleH = 1;

      // Defaults
      $scope.diameter = 35;
      $scope.maxl = 32;

      $scope.$watch('diameter', function(v, vo) {
        var d = $scope.diameter | 1;
        var r2 = (d / 2) * (d / 2);
        $scope.litres = 1000 / (r2 * Math.PI);
        $scope.gallons = 3785.41 / (r2 * Math.PI);
      });

      $scope.range = function(min, max) {
        var ret = [];
        for (var i=min; i <= max; ++i) ret.push(i);
        return ret;
      };

      $scope.totalHeight = function() {
        return $scope.maxl * $scope.litres * scaleH + 3;
      }

      $scope.getHeight = function(h) {
        return h * scaleH;
      };

    }]);
  </script>
</body>
</html>
