<div class="container-fluid">
  <article role="article">
    <header class="post-header">
      <h3 class="post-title">{{ page.title }}</h3>
      <p class="post-attr muted">by {{ site.author }} | {% for tag in page.tags %}{{ tag }} {% endfor %}</p>
      <div class="post-date muted">
        {{ page.date | date: "%b %d %Y" }}
      </div>
    </header>
    <section class="post-body">
      {{ content }}
    </section>
    <footer class="post-footer">
      {% include post/sharing.html %}
    </footer>
  </article>

  Comments ...
</div>
