<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<!-- <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script> -->
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      var path = window.location.pathname;

      $('.nav-links a').each(function() {
          if ($(this).attr('href') === '/') {
              if (path === '/')
                $(this).addClass('selected')
          }
          else if (path.indexOf($(this).attr('href')) !== -1)
              $(this).addClass('selected');
      });
  });
</script>
