html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

/* Layout
 ------------------------------------------------------- */

html, body { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, .87);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}
main>aside { flex: 0; min-width: 160px; }
main>article {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

/* General Purpose
 ------------------------------------------------------- */
a {
  text-decoration: none;
  color: #C14C3E;
}
a:hover {
  color: #F5AA9C;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-transform: capitalize;
}
blockquote {
  background: rgba(0, 0, 0, .02);
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  font-style: italic;
}
blockquote>p { margin: 0; }

/* Social Media
 ------------------------------------------------------- */
.fa-linkedin { color: #0077b5; }
.fa-twitter { color: #55acee; }
.fa-envelope { color: #9B3635; }
.fa-github { color: #fafafa; }

/* Sidebar
 ------------------------------------------------------- */
main>aside {
  background: #32292F;
  padding: 0 1rem;
}
main>aside p {
  color: rgba(255, 255, 255, .87);
}
main>aside a {
  color: #FF760A;
}
main>aside>nav {
  font-size: 1.2rem;
}

main>article {
  padding: 0 1rem;
}

nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav>ul a {
  display: block;
  padding: .5rem 0;
}

.social-links {
  display: flex;
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,.21);
}
.social-links>li {
  flex: 1 0 0;
}

/* Footer
 ------------------------------------------------------- */
body>footer {
  border-top: 1px solid rgba(0, 0, 0, .21);
  text-align: center;
}

/* Landing
 ------------------------------------------------------- */
.portfolio-intro {
  text-align: center;
  margin-top: 5vh;
}

.recent-thoughts {
  margin-top: auto;
  margin-bottom: 5vh;
  text-align: center;
  padding: 1rem;
}
.recent-thoughts>h4 {
  text-align: left;
  margin-bottom: .5rem;
}
.recent-thoughts>h4>i { margin-right: 1rem; }
.recent-thoughts>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thought-item { display: flex; line-height: 2; }
.thought-item + .thought-item { border-top: 1px solid rgba(0, 0, 0, .21); }
.thought-item>time { min-width: 8rem; }
.thought-item>time, .thought-item>a { text-align: left; }
.thought-item>a { flex: 1 0 0; }
.thought-item>span {
  flex: 1 0 0;
  text-align: right;
}

/* Projects
 ------------------------------------------------------- */

.project-list {
  list-style: none;
}
.project-list>li>h2 {
  margin-bottom: 0;
}

/* Thoughts
 ------------------------------------------------------- */
.post-header {
  margin-bottom: 1rem;
}
.post-attr, .post-date {
  color: rgba(0, 0, 0, .67);
}

/* vim: set fdm=marker et ts=2 sw=2 sts=2: */
