{% include head.html %}
<body>
  <div class="wrapper container-fluid">
    <nav role="navigation" class="row-fluid">
      {% include top_navigation.html %}
    </nav>
    <div class="row-fluid">
      <div class="span8 offset2 main">
        {{ content }}
        {% include recent_posts.html %}
        <div class="push"></div>
      </div>
    </div>
  </div>

  <footer role="contentinfo" class="container-fluid">
  <div class="row-fluid">
    {% include footer.html %}
  </div>
  </footer>

  <!-- Javascript -->
  {% include javascript.html %}
</body>
</html>
